<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Private Grocery Manager</title>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <input type="checkbox" id="check"></input>
    <label for ="check">
      <i class="fas fa-bars" id="sidebar-btn"></i>
      <i class="fas fa-times" id="sidebar-cancel"></i>
      </label>
    <div class="sidebar">
      <header>My Dashboard</header>
      <ul>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i> Overview </a>
        </li>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i> Scanner </a>
        </li>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i> Products </a>
        </li>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i> Items </a>
        </li>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i> Recipes </a>
        </li>
      </ul>
    </div>
    {% endif %}
    <section class="hero is-success is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a href="{{ url_for('main.index') }}" class="navbar-item">
                  Home
                </a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.profile') }}" class="navbar-item">
                  Profile
                </a>
                <a href="{{ url_for('main.scanner') }}" class="navbar-item">
                  Scanner
                </a>
                {% endif %} {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                  Login
                </a>
                <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                  Sign Up
                </a>
                {% endif %} {% if current_user.is_authenticated %}
                <a
                  id="logout"
                  href="{{ url_for('auth.logout') }}"
                  class="navbar-item"
                >
                  Logout
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div id="swup" class="transition-fade hero-body">
        <div class="container">
          {% block content %} {% endblock %}
        </div>
      </div>
    </section>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <i>Private Grocery Manager</i> by Barbar <strong>Ahmad</strong>,Giuliano
        <strong>Spagnuolo</strong>,Julius <strong> Sange</strong>.
      </p>
      <p>Programing Exercise SS 2020</p>
    </div>
  </footer>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="../static/js//opencv.js"></script>
<script src="../static/js/scripts.js"></script>
