{% extends "base.html" %} {% block content %}
<div class="column is-8 is-offset-2">
  <h3 class="title">New Product</h3>
  <div class="box">
    <form method="POST" action="/newProductEntry">

      <div class="field">
        <div class="control">
          <input required 
            class="input is-large"
            type="text"
            name="name"
            placeholder="Product Name"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="barcode"
            placeholder="Barcode"
            {% if barcode %}
            value="{{ barcode }}"
            readonly="readonly"
            {% endif %}
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="discription"
            placeholder="Discription"
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <select class="input is-large" name="group">
            <option value="" selected>Other</option>
            {% for category in categories: %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">
        Enter
      </button>

    </form>
  </div>
</div>
{% endblock %}
