{% extends "base.html" %} {% block content %}
<div class="column is-6 is-offset-3">
  <h3 class="title">Scan Product</h3>
  <div class="box">

    <div class="camera field">
      <video id="video">No camera access.</video>
    </div>

    <canvas id="canvas" hidden="true"></canvas>
    
    <div class="field">
        <button id="button" class="button is-block is-info is-large is-fullwidth">Scan</button>
    </div>

    <div class="output field">
        <img id="photo">
    </div>

    <form method="POST" action="/scan">
      <div class="field">
        <div class="control">
            <input id="formPhoto" name="photo" hidden/>
        </div>
      </div>

      <div id="submitDiv" hidden="True">
          <button class="button is-block is-info is-large is-fullwidth">
            Use this picture
          </button>
      </div>

    </form>
  </div>
</div>
<script type="text/javascript" src="../static/js/scanner.js"></script>
{% endblock %}
