body {
  margin: 0;
  font-family: sans-serif;
}
.btn-as-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  /*optional*/
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
